[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/dotbot-brew"]
	path = submodules/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
